*{
    margin: 0;
    padding: 0;
    
}
body *{
    /* border: 1px solid ; */
}
header{
    position: relative;
    min-height: 30px;
    padding: 10px 20px;
    box-shadow: 0 -2px 5px 2px #42424268;
    /* border-bottom: 1px solid #6060609d; */
    
}
header #logo {
    width: 8em;
}
#menu{
    margin-top: 7px;
    width: 1.5em;
    float: right;
}
.caixa_menu{
    position: absolute;
    right: 0;
    top: 0;
    display:inline-block;
    /* display: none; */
    width: 300px;
    height: 800px;
    background-color: gray;
    float: right;
    position: 
    ;
}